@use 'src/styles/vars';

.currencies {
  max-width: 600px;
  max-height: 400px;
  margin: auto;
  background-color: vars.$color-light;
  overflow: auto;
}

.currencies__title {
  font-weight: bold;
  color: vars.$color;
  padding: 2rem 1rem 1rem 1rem;
}

.currencies__item {
  border-top: 1px solid vars.$color;
  padding: 1rem;
  color: vars.$color;
  transition: background-color 1s;
  cursor: pointer;
}

.currencies__item:hover {
  background-color: vars.$color-alt;
  transition-duration: vars.$transition-fast;
}

.currencies__search {
  padding: vars.$gutter;
  margin-top: vars.$gutter;
  width: 100%;
  border: 0;
  color: vars.$color;
  font: inherit;
  &::placeholder {
    color: vars.$color-alt; 
  }
}
